.datepicker {
  z-index: 500000;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}

.date-form{
	text-align: right;
}

textarea{
	width: 100%;
}

.error_lbl{
	color: red;
	font-size: 9px;
	margin-left: 5px;	
}